<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>689446871825-kipml75ln59vfbc96n4a7kb1v4ms9iqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689446871825-kipml75ln59vfbc96n4a7kb1v4ms9iqd</string>
	<key>API_KEY</key>
	<string>AIzaSyA1nqE8mpDxb1_3ycrqXFCvLP0heHYz6rI</string>
	<key>GCM_SENDER_ID</key>
	<string>689446871825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FairFees.FairFees</string>
	<key>PROJECT_ID</key>
	<string>fair-fees</string>
	<key>STORAGE_BUCKET</key>
	<string>fair-fees.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689446871825:ios:d5b966fef81dec5d</string>
	<key>DATABASE_URL</key>
	<string>https://fair-fees.firebaseio.com</string>
</dict>
</plist>